certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
idna==3.11
jedi==0.19.2
packaging==26.0
parso==0.8.6
pudb==2025.1.5
pycparser==3.0
pygments==2.19.2
requests==2.32.5
sounddevice==0.5.5
srt==3.5.3
tqdm==4.67.3
typing-extensions==4.15.0
urllib3==2.6.3
urwid==3.0.5
urwid-readline==0.15.1
vosk==0.3.45
wcwidth==0.6.0
websockets==16.0
